@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ff4e94, #6458ff);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  color: white;
  font-family: "Fascinate Inline", system-ui;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff4d8d 0%, #ffa3c4 50%, #5e17eb 100%);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 3s infinite alternate;
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    height: 3.75rem;
    padding: 0 0.75em;
  }

  .heading {
    font-size: 2.25rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    height: 3.5rem;
    padding: 0 0.5em;
  }

  .heading {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .navbar {
    height: 3.25rem;
    padding: 0 0.25em;
  }

  .heading {
    font-size: 1.75rem;
  }
}
