.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 12em;
  margin: 1em;
  border: 1px solid pink;
  border-radius: 10px;
  text-align: center;
}

.option h4 {
  color: white;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
