@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Fascinate+Inline&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://m.media-amazon.com/images/I/C1qmG3fnRpS.png");
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center;
  width: 100%; /* Ensures full width */
  height: 86.3vh;
}

.quizBox {
  display: flex;
  justify-self: center;
  align-items:center;
  flex-direction: column;
  background: linear-gradient(135deg, #B0E298, #E072A4);
  height: 20em;
  width: 30em;
  margin: 4em;
  padding: 2em;
  border-radius: 30px;
  font-family: "Akaya Kanadaka", system-ui;
  padding:1rem;
}


