@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Fascinate+Inline&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://pbs.twimg.com/media/GJ_GWFxXcAA9hcO.jpg:large");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 86.3vh;
  /* New smooth transition property */
}

.quizBox {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #ff6ec4, #7873f5);

  height: 22em;
  width: 30em;
  margin: 5em;
  padding: 2em;
  border-radius: 30px;
  font-family: "Akaya Kanadaka", system-ui;
  padding: 1rem;
}

.quizResults {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  padding: 3rem;

}

.restart{
  background-color: #7873f5;
  height:10em;
  width:15em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
